/* Add your code here */

a {
  color: var(--teal);
}

.group {
  width: 100%;
  height: auto;
}

.card {
  display: inline-block;
  width: 30%;
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 20px;
  margin: 5px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}