/* Add your code here */

/* The colors used in this exercise are gray4, teal, lightteal */

/* The width of the form is specified in the styles.css file  */

/*
* {
  border-style: solid;
}
*/

body {
  background-color: var(--teal);
}

form {
  background-color: white;
}