h1 {
  font-size: 1.4em;
  text-align: center;
}

/* Code for exercise 01-flex */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Code for exercise 02-flex */
.flex-container-columns {
  height: 300px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  align-content: space-around;
}

.flex-item1 {
  order: 10;
}

/* Code for exercise 03-grid */
.grid-container {

}

/* Code for exercise 04-bootstrap-grid */

/* Code for exercise 05-bootstrap-form */
